/* Mobile View
@media screen and (max-width: 1280px) {

    .asideNav ul {
        padding: 0px 0 0 20px;
    }
    .Listnav {
        font-size: 16px;
        padding: 5px 0;
    }
    .anchorNav:hover {
        text-decoration: none;
        font-size: 17px;
        color: #af1607;
        font-weight: bold;
    }
    .subLinkFont {
        font-size: 15px;
        color: #545454;
        text-decoration: none;
        font-weight: bold;
    }
    .subLinkFont:hover {
        font-size: 13px;
        text-decoration: none;
        color: #af1607;
        font-weight: bold;
    }
    .svgResponsive {
        width: 19px;
        height: 19px;
    }


 
    .mainSection {
        width: 82%;
        height: 100%;
        margin: 110px 20px 0 223px;
        position: absolute;
        top: 0;
    }
}*/
